body {
  font-family: "Domine", serif;
  background-color: #f8f9fa;
  color: #333;
}
.gradient-background {
  background: linear-gradient(135deg, #ff6f61, #ff9e6a, #ffcd79);
  padding: 60px;
  color: white;
}
.highlight {
  color: #222;
}
.skill-logo {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.cat-gif {
  width: 30%;
  height: 30%;
  margin-bottom: 10px;
  border-radius: 50%;
}

footer a {
  text-decoration: none;
  color: #555;
}

footer a:hover {
  color: #ff6f61;
}

.cursor {
  position: relative;
  margin: 0 auto;
  border-right: 2px solid #333;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.typewriter-animation {
  animation: typewriter 5s steps(50) 1s 1 normal both,
    blinkingCursor 500ms steps(50) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes blinkingCursor {
  from {
    border-right-color: #ffcd79;
  }
  to {
    border-right-color: transparent;
  }
}
