.gradient-background {
  background: linear-gradient(300deg, #ff6f61, #ff9e6a, #ffcd79);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  color: black;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
}

h2 {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
}

section {
  margin: 50px;
}

span {
  color: #555555;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.My-skills > .container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

section > .header {
  padding-bottom: 20px;
}

body > section.My-Skills > .container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.container > div {
  text-align: center;
}

.About > .container img {
  width: 100%;
  max-width: 400px;
  border-radius: 50px;
}

body > section .About {
  display: flex;
}

.about-2 {
  flex: 1;
  padding: 20px;
}

@media (max-width: 768px) {
  .about-2 {
    text-align: center;
    margin-top: 20px;
  }
}
